* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: #fcfcfc;
}

h2 {line-height: 1.1;}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

/* ends base */

main {
  width: 100%;
  min-height: 100vh;
  background: #e7d916;
  background: linear-gradient(to top right, #232526, #414345);

  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.box {
  width: auto;
  max-width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.glass {
  width: 400px;
  max-width: 95%;
  height: auto;
  background: #ffffff20;
  background: linear-gradient(to top right, #ffffff50, #33333330);
  backdrop-filter: blur(5px);
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 30px 15px;

  z-index: 2;
}

.circ {
  width: 150px;
  height: 150px;
  background-color: red;
  background: #DA4453;
  background: linear-gradient(to right, #89216B, #DA4453);
  border-radius: 50%;
  
  position: absolute;
  z-index: 1;
}

.circle1 {
  top: -15%;
  left: -10%;
}

.circle2 {
  width: 200px;
  height: 200px;
  background: linear-gradient(to right, #6dd5ed80, #2193b030);
  bottom: -10%;
  right: -20%;
}

.glass .about {
  margin-bottom: 100px;
  text-align: center;
}

.glass .about img {
  width: 120px;
  height: 120px;
  margin-bottom: 15px;
  border-radius: 50%;
  box-shadow: 0 0 15px #ffffff30;
}

.glass .about .name {
  font-size: 1.5em;
  text-transform: uppercase;
  /* font-weight: lighter; */
  margin-bottom: 15px;
  color: #26d9ff;
}

.glass .connect {
  text-align: center;
}

.glass .connect .heading {
  font-size: 1rem;
  font-weight: lighter;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #26d9ff;
}

.glass .connect .flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.glass .connect  .flex div {
  width: 30%;
}

.glass .connect  .flex div p {
  display: none;
}

.glass .connect  .flex div span {
  display: inline-block;
  background: #ffffff50;
  padding: 15px;
  border-radius: 4px;
  cursor: pointer;

  transition-duration: .3s;
  transition-property: box-shadow;
}

.glass .connect  .flex div span:hover {
  box-shadow: 0 0 15px #ffffff80;
}

.glass .connect  .flex div span i {
  font-size: 25px;
}